.main {
    background-color: aqua;
    display: flex;
    flex-direction:column;
    width: 1200px;
    height: 600px;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
}
.middle{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
   justify-content: space-between;
}
.a{

    width: 300px;
    height: 300px;
    background-color: blue;
}
.Widgets{
    width: 1200px;
}
.Contact{
   width: 1200px;
}