.head {
    color: white;
    display: flex;
    width: 100%;;
    flex-direction: column;
    background-color: #ffffff;
}

.Common {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: flex;
    border: 3px solid blue;
    border-radius: 20px;
    box-sizing: border-box;
    height: 200px;
}

.middle {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: -10px;
}

.Main {
    background-color: #3434e0;
    flex: 3 1;
}

aside {
    background-color: #030933;
    flex: 1 3;
}

header {
    background-color: #697ce1;
}

nav {
    background-color: #1f1fd2;
}

footer {

    background-color: #9090dc;

}