.main {
    background-color: yellow;
    display: flex;
    height: 400px;
    width: 1600px;
flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}
.common{
    height: 200px;
    width: 200px;

}
.a{
   background-color: violet;
align-self: flex-start;
    width: 1500px;
}
.b{
    background-color: black;
    flex: 1 3  200px;
}
.c{

    background-color: aquamarine;
    flex: 3 1 200px;
}
.block{
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}
