.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
}
.first{
    row-gap: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.second{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.a{
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    color: yellow;
    font-size: 20px;
    background-color: blue;
    display: flex;
 width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.Kabobs{
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    color: yellow;
    font-size: 20px;
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.b{
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    color: yellow;
    font-size: 20px;
    display: flex;
background-color: blue;
    width: 32%;
    height: 100px;
    justify-content: center;
    align-items: center;
}