body{
    display: flex;
}
.main-story {
    background-color: aqua;
    margin: 20px;
display: flex;
    height: auto;
}
.photo-actor {
    border: 10px solid black ;
    margin: 20px;
    justify-content:center;
}
.about-actor {
    background-color: #e7d7e7;
    font-size: 15px;
    font-family: Calibri;
    padding: 30px;
    position: -ms-device-fixed;
    height: auto;
    border: solid 10px black;
    border-radius: 20%;
}
.biography {
    padding: 10px;
    margin: 20px;
    background-color: aliceblue;
width: 400px;
    height: auto;
    justify-content: initial;
    box-sizing: border-box;
    border: solid 10px black;
    border-radius: 10%;
}
.filmography {
    padding: 10px;
 margin: 20px;
    background-color: rosybrown;
    height: 300px;
    box-sizing: border-box;
    border: solid 10px black;
    border-radius: 20%;

}
.about-career {
    background-color: aliceblue;
    padding-left: 10px;
    width: 300px;
    padding-top: 25px;
    border: solid 10px black;
    border-radius: 20%;
   box-sizing: border-box;
}
.name-career{
    padding-left: 40px;
}
