@media screen and (max-width: 400px) {
    .button__header {
        display: none;
    }

    button.mobile {
        display: block;
    }

    .wrap {
        width: 375px;
        margin: 0;
    }

    .times, .location, .header__menu, .admin__menu {
        display: none;
    }
    .for__mobile{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }
    .whatsapp{
        width: 130px;
        height: 20px;
    }
    .logo{
        width: 150px;
    }

    .contact-section-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0F2438;
    }
    .contact p{
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: #0F2438;
    }
    .whatsapp{
        font-size: 9px;
        line-height: 12px;
        color: #000000;

    }
    .main__katalog form{
        width: 200px;
        justify-content: flex-end;
    }
    .katalog{
        width: 65px;
        margin-right: 80px;
    }
    .main__katalog{

    }
    .container__two{
        /*padding: 10px;*/
        flex-direction: column;
    }
    .carousel-inner {
        width: 355px;
        height: auto;
       margin-left: 10px;
    }
    .item__action {
        align-items: center;
        row-gap: 20px;
        padding-top: 20px;
    }
    .product__slider{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .product{
        width: 350px;
    }
    .button__action{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .product__container1{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .block__news{
        height: fit-content;
    }
    .news__date{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer{
        height: auto;
    }
    .footer__wrap{
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.footer__katalog{
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .contact__b{
        align-items: center;
        align-content: center;
        padding-top: 30px;
        margin: 0;
        flex-direction: column;
    }
    .advertising div{
        align-items: center;
        flex-direction: column;
    }
    .advertising form{
        align-items: center;
        width: 300px;
    }
    .advertising p{
        width: 350px;
        text-align: center;
    }
    .advertising{
        width: 470px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    .advertising button{
        height: 40px;
    }
    .social__network{
        padding-bottom: 20px;
        justify-content: center;
    }
}
