.Main {
    background: #ffffff;
}
.wrap {
    margin-top: 20px;
    margin-left: 100px;
    width: 1350px;

}
.homepage{
    background: #0F2438;
    height: 40px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



button {
    background: #0F2438;
    border: none;
}

.placeholder {
    background: #0F2438;
}

.main__header {
    display: flex;

    height: 40px;
}

.main__header span {
    text-decoration: underline;
    margin-left: 10px;
}
.header__town{
    display: flex;
    align-items: center;

}
.times{
    display: flex;
}
.times img {
    margin-top: 10px;
    margin-right: 2px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}


.whatsapp {
    padding-top: 7px;
    width: 200px;
    height: 30px;
    background: #E1EFD0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;

}

.contact-section-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}

.contact-section-link p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
}

.katalog {
    background: #005BB9;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    padding-top: 10px;

}

.katalog img {
    padding: 10px;
}

.form-control {
    width: 550px;
}

.btn-outline-success {
    width: 100px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
}

.admin__menu {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

div.border__ {
    padding-right: 10px;
    border-right: 2px solid #E1E5F8;
}

.container__one {
    padding-bottom: 20px;
    padding-top: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.carousel-inner {
    width: 1000px;
    height: 400px;
    border-radius: 20px;
}

.price {
    display: flex;
}

.sold__item {
    display: flex;
    align-content: center;
    align-items: flex-end;
}

.text__action {
    display: flex;
    flex-direction: column;
}

.container__two {
    column-gap: 10px;
    padding-top: 20px;
    padding-bottom: 70px;
}


.action__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.price {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.sold__item button {
    background: #ffffff;
    border: none;
    outline: none;

}

.action__block h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    padding: 10px;

}


.text__action p {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.title {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.action__item {
    display: flex;
    flex-direction: column;
}

.action__block {
    display: flex;
    flex-direction: column;
    background: #F4F5FA;
    border-radius: 10px;
    width: 330px;
    height: 190px;
}

.item__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product {
    width: 430px;
    height: 180px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.product button {
    width: 100px;
    height: 35px;
}

.product p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.product h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;

}

.product__info {
    margin-left: 40px;
}

.product__slider {
    display: flex;
    flex-direction: row;
    width: 1350px;
    justify-content: space-between;
}

.button__action button {
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #005BB9;
    border-radius: 6px;

}

.button__action {
    width: 630px;
    margin-left: 0;
    padding-top: 10px;
}

.button__action button.white__button {
    background: #ffffff;
    color: #005BB9;
    border: 1px solid #005BB9;
}

.product__item button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    background: #005BB9;
    border-radius: 6px;
    color: white;
}

.feedback__product span {
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin-left: 4px;
}

.name__product {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.price__product {
    display: flex;
    justify-content: flex-start;
}

.price__product span {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.price__product span.price__product__second {
    margin-left: 5px;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.product__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    column-gap: 15px;
}

.product__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    width: 300px;
    height: 400px;
}

.content__product {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__container1 {
    column-gap: 45px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.btn_content {
    width: 190px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;

}

.line {
    width: 100%;
    height: 2px;
    background: #E1E5F8;
}

.news__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.news__date.first {
    margin-left: 10px;
}

.line__news {
    height: 10px;
    width: 100%;
    background: #F5F5F5;
}

.news__header__text {

    width: 220px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}

.news__text {
    width: 280px;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.footer li {
    padding-top: 15px;
    list-style-type: none;
}

.news__block .news__text li {
    list-style-type: none;
}

.news_text__list::before {

    content: "-";
    padding-right: 0.5em;
}

.news__block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 17px;
    height: 250px;
    justify-content: space-around;
}

.block__news {
    box-sizing: border-box;
    height: 300px;

}

.footer {
    padding-top: 30px;
    height: 400px;
    background: #0C1A2A;

}

.advertising form {
    width: 450px;
    height: 40px;
}

.footer div {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.footer h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.footer__list {
    width: 200px;
    padding-left: 0;
}

.advertising p {
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;


}

.advertising span {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.advertising{
    padding-bottom: 30px;
}

.footer__katalog {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    width: 1350px;
    column-gap: 100px;
}
.Contact__block{
    display: flex;
    flex-direction: column;
}
.contact__b{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}
footer{
    margin-left: 100px;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;

}
.menu-item {
    color: black;
    position: relative;
}

.menu-item:hover .submenu {
    visibility: visible;
    opacity: 1;
    color: black;
}

.submenu {
    color: black;
    position: absolute;
    visibility: hidden;
    transition: all .2s ease;
    opacity: 0;
    top: 100%;
}

.submenu-item {

    padding: .4em;
}

.town li {
    margin-left: -25px;
    padding-top: 15px;
    list-style-type: none;
}
.town li a{

    background-color: #0F2438;
    color: white;
    border-radius: 10px;
}
button.mobile{
   display: none;

}
.button__header{
    display: flex;
    align-items: center;
}
.for__mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social__network{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    column-gap: 50px;
}
.advertising__text{
    width: 470px;
}
.for__mobile{
    column-gap: 10px;
}


