@media screen and (max-width: 550px) {

    .header__menu{
        display: none;
    }
    .nav__btn__mobile{
        display: flex;
        flex-direction: column;
    }
.logo img{
    width: 50px;
    height: 50px;
}
    h2{
        padding-bottom: 40px;
        font-size: 30px;
        line-height: 34px;
    }
    h1{
        padding-bottom: 10px;
        font-size: 40px;
        line-height: 46px;
    }
    .header__text{
        font-size: 15px;
        line-height: 20px;
    }
    .section__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 10px;

    }
    .History{
        flex-direction: column;
    }
}