.Main {
    background-color: silver;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Main_brick{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section{
    display: flex;
    flex-direction: column;
}
.border_blue{
    border: 3px solid blue;
}
.first_section{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;

}
.Main_brick_section{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;

}
.second_section{
    column-gap: 20px;
    background-color: #000038;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.block:hover{
    background: yellow;
}
.block {
    border-radius: 20px;
    margin: 15px;
    background-color: #000038;
    width: 100px;
    height: 100px;
}

.block_square {
    border-radius: 50px;
    background-color: silver;
}
.block_text-item{
    border-radius: 20px;
    margin: 3px;
    background-color: #ffffff;
    width: 40px;
    height: 10px;
}
.block_text-item-1 {
    flex: 3 1;

}
.block_text-item-2 {
    flex: 1 3;
}
.block_text {
    display: flex;
    flex-direction: row;
}
.three_line{
    display: flex;
    flex-direction: row;
}
.bottom_brick{
    display: flex;
    flex-direction: column;
}
.block_text-item-first{
    width: 55px;
}
.second_bottom_brick{
    border: solid 1px yellow;
    padding: 20px;
}

