.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
}

.middle {
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.Common {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: flex;
    border: 3px solid blue;
    border-radius: 20px;
    background-color: #1f1fd2;
    box-sizing: border-box;
    height: 200px;
}
