.Main_message{
    width: 15%;
    padding: 5px 5px 5px 10px;


}
.Message {
    border: 3px solid blue;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.screen_message {
    border-radius: 10px;
    display: flex;
    background: #030933;
    width: 90%;
    height: 80px;
}

.Line_message {
    width: 90%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message_line1 {
    display: flex;
    background: #030933;
    margin: 5px;
    width: 20px;
    height: 10px;
    border-radius: 10px;
}

.message_line1-left {
    width: 50px;
}

.message_line1-right {
    display: flex;
    flex-direction: row;

}
.line_message2{
    justify-content: flex-start;
}
.Line_message.line_message2>.message_line1{
    width: 100px;
}
.message_footer{
    width: 100%;
    display: flex;
    border: 3px solid blue;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
}



