.head {
    color: white;
    display: flex;
    width: 100%;;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    background-color: #ffffff;

    justify-content: center;
}

.middle {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 10px;
}

.Main {
    border-radius: 10px;
    background-color: #3434e0;
    flex-grow: 3;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #030933;
    flex-grow: 1;
    align-items: center;
}

header {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #697ce1;
    width: 100%;
    height: 100px;
    align-items: center;
}

nav {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #1f1fd2;
    width: 100%;
    height: 100px;
    align-items: center;
}

footer {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #9090dc;
    width: 100%;
    height: 100px;
    align-items: center;
}